@if (content$ | async; as content) {
  <app-navbar [links]="content.navLinks" [doctor]="content.doctor" />
  <main>
    <app-hero  [doctor]="content.doctor" />
    <app-about-doctor appScrollReveal appScrollRevealDirection="left"  [appScrollRevealDelay]="80" [doctor]="content.doctor" />
    <app-services appScrollReveal appScrollRevealDirection="right"  [appScrollRevealDelay]="80" [services]="content.services" />
    <app-conditions appScrollReveal appScrollRevealDirection="left"  [appScrollRevealDelay]="80" [conditions]="content.conditions" />
    <app-why-choose-us appScrollReveal appScrollRevealDirection="right"  [appScrollRevealDelay]="80" [stats]="content.stats" [trust]="content.trust" />
    <app-testimonials appScrollReveal appScrollRevealDirection="left" [appScrollRevealDelay]="80" [testimonials]="content.testimonials" />
    <app-faq appScrollReveal appScrollRevealDirection="right"  [appScrollRevealDelay]="80" [faqs]="content.faqs" />
     <app-appointment [doctor]="content.doctor" />
  </main>
  <app-footer   [links]="content.navLinks" [doctor]="content.doctor" />
  
}
